<!--404.html-->
<!--You Found Me heheXD
MMMMMMMMMMMMMMMMMMMNhyhdNmdhyss+:/+/+oyyyyyysyhhhyshmNNNNNNNNNMMNNNmNNmdmmdddhhdmmdmmmmmNNNmdddddmNN
MMMMMMMMMMMMMMMMMMNhssymNdysso/::/://++ssooyyyyyhhyyhmNNNNNNNNNMMMNNNmdddmmmmdhmNNmmNNNNMMNmddddmmmm
MMMMMMMMMMMMMMMNMNdyo+hmmyoo+/::/:::://oso+ossyyhddyhdmmmNNNNNNNMMMNNmmddmmmmmddNNNNNMMMMMNNNmmmmmNm
MMMMMMMMMMMMMMNNNNhs++hhhyo/:::::-::::/+ooo+osssyhddyhdmNNNNNNNmNMMMNNmmmNNNNNNmmNNNMMMMMMMMMNNNNNNm
MMMMMMMMMMMMMMNMMmhysyhhhho/:::::::::::+o+++oosssydddhhmNNMNNNNmmNNMMNNNNNNNNNMNNNNNMMMMMMMMMMMNNNNN
MMMMMMMMMMNNNMMMMmhyyhdddmdyso+++/:/::/+oossoosyyhhdmmmmNMMMMMMNNNNNNNNNNMMMMMMMMNNMMMMMMMMMMMMMMMMN
MMMMMMMMMMMMMMMMNhsssyyhddmmmddhyso+/////+osyyyhddmmNNNNNMMMMMMMMNNNNMMNMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMmysssoooosyhdddddhys+////+oyyhhdmmmmmNNmmNNNMNMMMMNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMdyyso++////+oyhhhhys+/////+oyyhdddddddmddddmNNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMdhhyyoo++////+oyyyso+/::::/+syyhhhhhhhhyyyyhdmNNMMMMMMMMMMNMMMMMMMMMMMMMMMMMMMMMMMMN
MMMMMMMMMMMMMMMNhhhdhyyysssso++oooo+:-....-/+ssyyyyysssooo+oydmNNMMMMMMMMMNNMMMMMMMMMMMMMMMMMMMMMMNN
MMMMMMMMMMMMMMMdsyhddmddmmNNNds++++/-.````.-:++osssssssoo+/+shmNNNMMMMMMMMNNMMMMMMMMMMMMMMMMMMMMMMNN
MMMMMMMMMMNMMMNsooossyyyyhddhhs////-.``````.-::/++shddhhhhhhddmNNNMMMMMMMMNNNMMMNNMMMMMMMMMMMMMMMNNN
MMMMMMMMMMMMMNy+/://+oooooo+//::::-.``` `````.--::oyhhhmMMMMMNNNMMMNMMMMMMNmNNNMmhdNMMMMMMMMMMMMNNNM
MMMMMMMMMMMMMy/:-----:::::::---:::-.``  ````````.-::/+oshddmmddmmNNNNNNNNMNmmdmNmyyhNMMMMMMMMMMNNNMM
MMMMMMMMMMMMd/:--.....--------:::-.``  ```````````.-:/++ooooossyyhhdddmmmNmhyhdddysyNMMMMMMMMMNNNNNN
MMMMMMMMMMMNo/---..........--:::-.``   ````````  ```..--:://:::///+osyyyhmdssyhhdyoyNMMMMMMMMNNNMNNM
MMMMMMMMMMMm+/:--..........-:::-.``    ````````````````...````````..:+++ossooosyhyohNNMMMMMMNNMNNMMM
MMMMMMMMMMMd+/:--.........-:/:-.````  ``````````````````````````   ``.-::////+osssodNMMMMMNNNMMMMMMM
MMMMMMMMMMMmo/:--........-:/:-..```    ```````````````    `          ``....--//+oosmNNNNMNNMMMMMMMMM
MMMMMMMMMMMNs+/::---....-::/:--.```````````.....```````            ``````...-:/++ohNNNMNMMMMMMMMMMMM
MMMMMMMMMMMNyo+/::-------:+os+/:-------.````......`````         ````````....-:/+oymNNMMMMMMMMMMMMMMM
MMMMMMMMMMMMds++/:::----:+shdhso++++oss+-..`..-....````````  ````````.....--:/+oydmmNMMMMMMMNMMMMMMM
NNMMMMMMMMMMmso++/:::::::/sdmmdhyyyhmmNmho/:::-......`````````````......--::/+oshmmNNMMMMMNNNMMMMMMM
MMNMMNNNMMMMMyo++//::::://ohhhhhhhddhddddhys+-.``.....``````````....-----://++sydmNNNMMMNNmNMMMMMMMM
MMMMMhssoydMMdoo++//::::///+++osyhhsooosss+-.`````................---::://+++osddmmNNNNmmNMMMMMMMMMM
MMMNy++//oyNMmso++////////::::::+oo/:---..`````````.-............---:://++++ooydddddddmNMMMMMMMMMMMM
MMNss++//+sNMNso+++//+++//:::-......```````````````..--........---::////++++oshhhyyhmMMMMMMMMMMMMMMM
MNyoyo+//omNMMyo+++oosso+ooooo/:--:--.`````````````...------.----::://///+++smMMMMMMMMMMMMMMMMMMMMMM
Nyoyhs+//hNMMMdoooooshdddddddhhhyyyyyyso:...............---------::://///++odMMMMMMMMMMMMMMMMMMMMMMM
yshmd/:::yNNNMNsoooossyyhdddddmmmmmmmmmmdhs+///:-.........------:::://///+ohNMMMMMMMMMMMMMMMMMMMMMMM
ydmhd/:::+oyhNNhsooooo++oo+///++oooossyyhddmddds/:-........-----::::////+oydNMMMMMMMMMMMMMMMMMMMMMMM
dmmmh/:::::/+sssysoo++/+oso/:--.........-:/+osyso/:-......-----:::::///++oydmmMMMMMMMMMMMMMMMMMMMMMM
MNNMN+/:---::::/osoo++//+oyys+/::-------------:///:--....----::::::////+ooshy/sNMMMMMMMMMMMMMMMMMMMM
MMMMm+/-:------:/so++/////oshhhhyyssssooo/:-...-::::------:::::://////++++ohd-.sMMMMMMMMMMMMMMMMMMMM
MMMNo--.-.-.-----oso+//:::://+osyhhhhyys+:-...--::::::::://////////+++/////ym-`.yNMMMMMMMMMMMMMMMMMM
MMMd/--.-.-.-.-.-:/oo+/::-----------------...----:::////+++++++++++++//:::/yd.  `-yMMMMMMMMMMMMMMMMM
MMMy:--...-.-.:-/+ohyo++/:--.....```````....-----:::/++oooooooooooo+//:::::oy`    `sNMMMMMMMMMMMMMMM
MMm+--.--/+oyhdmNNmh//oo+//:--.....``````...----:://++oossssyyyyso+//:::--:+o`     `-/yddmNMMMMMMMMM
mmy:-:-:ymNNNNmmdhs/.-+sysoo+/:::--........-::://+oossyyyhhhhhyoo+/::------o:          ``.-/yNMMMMMM
//:----:sshdhysoo++-.-+ymyhyyssoo++//::::://++ossyyyhhdddddhysoo+//::-----:o`            ``` -yNMMMM
--:-----//oo+/////:..-/hNhNNmdhyyyyysssssssyyhhhddddddddddhsso+///::::---:o-               `  `:hNMM
.....---/:/::::/++-..:/ymdMNNNmdddhhhhhhdddmmmmddddddddhysooo++///:::::::s/            `  ``    `:+o
........:::/+ssss+..-:/ymhMdmNmmdddhhhdddddmmmdddddddhysoooo+++///:::::/s+`           `  `          
.`.....--//oo+///-...-/ydhNhdNmmmdddhhhhdddddddddhhhyyssooo+++++//////+ys`           `  `           
..`....--://:/+ss-...-:yyhNhhNmmmddddhhhhhhhhhhhhhhyyyysso+++++++////oys.             ``            
-.......--//ossoo....--++smdymmddddddhhhhyyhhhhhhhyyyyyysoo+++++++++shy-             `.             
--.......-//+so:-......//oydymmddddddhhhhhyhhhhyyyyyyyyyysooo+++++oyhh+`            ``            ``
--........-//os/.......://oysdmddddddhhhhhyyhyyyyyyyyyyyyyso++++osyhds//:.          `            ```
---....``..::/:-....--./-:+oshmdhhhdddhhhhyyyyyyyyyyyyyyyyysoo+oyyhhy../ydy/`                   ````
.---..``..../::.....---/--/o+yddhhhhhhhhhhhhhhhhhhhhyyyyyyyysssyhhhs`  ./sdNd-                  ````
-->
{% extends 'Base.html' %}
{% block title %}AI寫詩{% endblock title %}

{% block index %}
<xmp>
         _____                                _____                                     
        /    /                               /    /                                     
       /    /                               /    /                                      
      /    /                               /    /                                       
     /    /            .-''` ''-.         /    /                                        
    /    /  __       .'          '.      /    /  __                                     
   /    /  |  |     /              `    /    /  |  |                                    
  /    '   |  |    '                '  /    '   |  |                                    
 /    '----|  |---.|         .-.    | /    '----|  |---.                                
/          |  |   |.        |   |   ./          |  |   |                                
'----------|  |---' .       '._.'  / '----------|  |---'                                
           |  |      '._         .'             |  |                                    
          /____\        '-....-'`              /____\                                   
               .-'''-.                        .-'''-.                                   
              '   _    \                     '   _    \                   _______       
   _..._    /   /` '.   \                  /   /` '.   \          _..._   \  ___ `'.    
 .'     '. .   |     \  '            _.._ .   |     \  '        .'     '.  ' |--.\  \   
.   .-.   .|   '      |  '  .|     .' .._||   '      |  '      .   .-.   . | |    \  '  
|  '   '  |\    \     / / .' |_    | '    \    \     / /       |  '   '  | | |     |  ' 
|  |   |  | `.   ` ..' /.'     | __| |__   `.   ` ..' /_    _  |  |   |  | | |     |  | 
|  |   |  |    '-...-'`'--.  .-'|__   __|     '-...-'`| '  / | |  |   |  | | |     ' .' 
|  |   |  |               |  |     | |               .' | .' | |  |   |  | | |___.' /'  
|  |   |  |               |  |     | |               /  | /  | |  |   |  |/_______.'/   
|  |   |  |               |  '.'   | |              |   `'.  | |  |   |  |\_______|/    
|  |   |  |               |   /    | |              '   .'|  '/|  |   |  |              
'--'   '--'               `'-'     |_|               `-'  `--' '--'   '--'              
</xmp>
{% endblock index %}