<!--404.html-->
{% extends 'Base.html' %}
{% block title %}AI寫詩{% endblock title %}

{% block index %}
<pre>
         _____                                _____                                     
        /    /                               /    /                                     
       /    /                               /    /                                      
      /    /                               /    /                                       
     /    /            .-''` ''-.         /    /                                        
    /    /  __       .'          '.      /    /  __                                     
   /    /  |  |     /              `    /    /  |  |                                    
  /    '   |  |    '                '  /    '   |  |                                    
 /    '----|  |---.|         .-.    | /    '----|  |---.                                
/          |  |   |.        |   |   ./          |  |   |                                
'----------|  |---' .       '._.'  / '----------|  |---'                                
           |  |      '._         .'             |  |                                    
          /____\        '-....-'`              /____\                                   
               .-'''-.                        .-'''-.                                   
              '   _    \                     '   _    \                   _______       
   _..._    /   /` '.   \                  /   /` '.   \          _..._   \  ___ `'.    
 .'     '. .   |     \  '            _.._ .   |     \  '        .'     '.  ' |--.\  \   
.   .-.   .|   '      |  '  .|     .' .._||   '      |  '      .   .-.   . | |    \  '  
|  '   '  |\    \     / / .' |_    | '    \    \     / /       |  '   '  | | |     |  ' 
|  |   |  | `.   ` ..' /.'     | __| |__   `.   ` ..' /_    _  |  |   |  | | |     |  | 
|  |   |  |    '-...-'`'--.  .-'|__   __|     '-...-'`| '  / | |  |   |  | | |     ' .' 
|  |   |  |               |  |     | |               .' | .' | |  |   |  | | |___.' /'  
|  |   |  |               |  |     | |               /  | /  | |  |   |  |/_______.'/   
|  |   |  |               |  '.'   | |              |   `'.  | |  |   |  |\_______|/    
|  |   |  |               |   /    | |              '   .'|  '/|  |   |  |              
'--'   '--'               `'-'     |_|               `-'  `--' '--'   '--'              
</pre>
{% endblock index %}