<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>history</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><h2 id="version-18.10.6">Version 18.10.6</h2>
<blockquote>
<p>1.Make a app ‘restaurants’,countain some ‘restaurant’ ‘food’.</p>
</blockquote>
<blockquote>
<p>And ‘food.name’ ‘food.price’ … and else.</p>
</blockquote>
<blockquote>
<p>2.Replace ( ~/menu ) to the app(‘restaurants’) /at restaurants/views.py</p>
</blockquote>
<blockquote>
<p>And a table to output.</p>
</blockquote>
<blockquote>
<p>3.Add a admin to manage ‘Restaurant’ &amp; ‘Food’.</p>
</blockquote>
</div>
</body>

</html>
