<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website History</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><h1 id="django_website"><a href='/'>Django_website</a></h1>
<p>Learning how to make a website with Python&amp;Django.</p>
<p>Using blow software:</p>
<blockquote>
<p>**Python(3.7</p>
</blockquote>
<blockquote>
<p>Django(2.1.2</p>
</blockquote>
<blockquote>
<p>django-uuslug(1.1.8</p>
</blockquote>
<blockquote>
<p>python-slugify(1.2.6</p>
</blockquote>
<blockquote>
<p>pytz(2018.5</p>
</blockquote>
<blockquote>
<p>Unidecode(1.0.22**</p>
</blockquote>
<p>What the website got now:</p>
<blockquote>
<p>A main page ( <a href="http://sating.pythonanywhere.com/">~/</a> )</p>
</blockquote>
<blockquote>
<p>A math calculator ( <a href="http://sating.pythonanywhere.com/math/30/20/">~/math/int/int/</a> )</p>
</blockquote>
<blockquote>
<p>A menu ( <a href="http://sating.pythonanywhere.com/menu/">~/menu</a> )</p>
</blockquote>
<blockquote>
<p>A blog ( <a href="http://sating.pythonanywhere.com/post/">~/post</a> )</p>
</blockquote>
<h2 id="version-18.10.24">Version 18.10.24</h2>
<blockquote>
<ul>
<li>1.Re-edited index.html</li>
</ul>
</blockquote>
<blockquote>
<ul>
<li>2.Add ‘edited_time’ for Post</li>
</ul>
</blockquote>
<blockquote>
<ul>
<li>3.Modify time that if edited_time =/= publish_time show edited_time</li>
</ul>
</blockquote>
<blockquote>
<p>for post.html</p>
</blockquote>
<h2 id="version-18.10.12">Version 18.10.12</h2>
<blockquote>
<ul>
<li>1.Using Flat-UI successful(<sup>_</sup>).</li>
</ul>
</blockquote>
<blockquote>
<ul>
<li>2.Rebuild template/(base post index header footer).html</li>
</ul>
</blockquote>
<h2 id="version-18.10.11">Version 18.10.11</h2>
<blockquote>
<ul>
<li>1.Using Bootstraps to modify blog and post</li>
</ul>
</blockquote>
<blockquote>
<ul>
<li>2.Trying to use <a href="http://www.bootcss.com/p/flat-ui/">Flat-Ui</a> but fail(T_T)</li>
</ul>
</blockquote>
<h2 id="version-18.10.10">Version 18.10.10</h2>
<blockquote>
<ul>
<li>1.Make a app ‘blog’,contain some post.</li>
</ul>
</blockquote>
<blockquote>
<ul>
<li>2.Let posts shown ny slug.</li>
</ul>
</blockquote>
<blockquote>
<ul>
<li>3.Use “uuslug” to make unique slug for each post,</li>
</ul>
</blockquote>
<blockquote>
<p>and transfer Chinese title to pinyin slug.Learn from jianshu(<a href="https://www.jianshu.com/p/2131400102a9">Link</a>)</p>
</blockquote>
<hr>
<h2 id="version-18.10.6">Version 18.10.6</h2>
<blockquote>
<ul>
<li>1.Make a app ‘restaurants’,countain some ‘restaurant’ ‘food’</li>
</ul>
</blockquote>
<blockquote>
<p>And ‘<a href="http://food.name">food.name</a>’ ‘food.price’ … and else.</p>
</blockquote>
<blockquote>
<ul>
<li>2.Replace ( ~/menu ) to the app(‘restaurants’) /at restaurants/views.py</li>
</ul>
</blockquote>
<blockquote>
<p>And a table to output.</p>
</blockquote>
<blockquote>
<ul>
<li>3.Add a admin to manage ‘Restaurant’ &amp; ‘Food’.</li>
</ul>
</blockquote>
</div>
</body>

</html>
