<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>history.html</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><p>history.html</p>
<h1 id="django_website"><a href="/">Django_website</a></h1>
<p>Learning how to make a website with Python&amp;Django.</p>
<p>Using blow software:</p>
<blockquote>
<p><strong>Django(2.1.2<br>
<a href="https://github.com/codingjoe/django-stdimage">django-stdimage(4.0.0</a><br>
<a href="https://github.com/un33k/django-uuslug">django-uuslug(1.1.8</a><br>
<a href="https://github.com/treyhunner/django-simple-history/blob/master/docs/index.rst">django-simple-history(2.5.1</a></strong></p>
</blockquote>
<p>What the website got now:</p>
<blockquote>
<p>A main page ( <a href="http://sating.pythonanywhere.com/">~/</a> )<br>
A Gallery page (<a href="http://sating.pythonanywhere.com/gallery">~/gallery</a>)</p>
</blockquote>
<h2 id="version-18.12.25">Version 18.12.25</h2>
<blockquote>
<ul>
<li>聖誕節快樂,Happy Christmas.</li>
<li>1.New delete post function in each post.</li>
<li>2.Use Popup windows to check if do function or not(Javascript functions)</li>
</ul>
</blockquote>
<h2 id="version-18.12.9">Version 18.12.9</h2>
<blockquote>
<ul>
<li>1.Now can edit post in each post. It will check if user get permission(pk=26) or not.</li>
<li>2.Using ‘django-simple-history’ app but only useable in admin.</li>
<li>3.Fix:</li>
</ul>
<blockquote>
<ul>
<li>3.1.photo in index.html not clickable</li>
<li>3.2.making comment will change post’s edited_time.</li>
</ul>
</blockquote>
</blockquote>
<h2 id="version-18.11.27">Version 18.11.27</h2>
<blockquote>
<ul>
<li>1.Fix side image that post by form(It can upload success now (Hooooray!)).</li>
<li>2.Make the Gallery back and work great(except upload multiple upload, it still developing.)</li>
</ul>
</blockquote>
<h2 id="version-18.11.26">Version 18.11.26</h2>
<blockquote>
<ul>
<li>1.Admin filter and list.</li>
<li>2.Add author to display in each post.</li>
</ul>
</blockquote>
<h2 id="version-18.11.25">Version 18.11.25</h2>
<blockquote>
<ul>
<li>1.Modify Post style when where is side photo or not.</li>
<li>2.The “Stop Submit” is keep send comment when Enter at poster input.</li>
<li>3.Error in this version too:</li>
</ul>
<blockquote>
<ul>
<li>3.1.Post in post by form will not contain image.</li>
<li>3.2.Post can’t deal with the same title posts.</li>
<li>3.3.Login didnt set permission to do thing or not(every can edit like admin)</li>
</ul>
</blockquote>
</blockquote>
<h2 id="version-18.11.24">Version 18.11.24</h2>
<blockquote>
<ul>
<li>1.Add upload post function when login(press user name)</li>
<li>2.Find some error:</li>
</ul>
<blockquote>
<ul>
<li>1.Post.html post.image.url will not work when image is blank.</li>
<li>2.Making post will not work when upload image.</li>
</ul>
</blockquote>
</blockquote>
<h2 id="version-18.11.21">Version 18.11.21</h2>
<blockquote>
<ul>
<li>1.Comment function susses(One little promble is that: after make comment,reload website will send message again.)</li>
</ul>
</blockquote>
<h2 id="version-18.11.16">Version 18.11.16</h2>
<blockquote>
<ul>
<li>1.Re-build whole website.</li>
<li>2.What it got:</li>
</ul>
<blockquote>
<p>A blog (’/’)<br>
Login/Logout/Signup function</p>
</blockquote>
</blockquote>
<h2 id="version-18.11.2-2">Version 18.11.2-2</h2>
<blockquote>
<ul>
<li>1.Just simply let photo can place at the folder (YYYY/MM/DD)</li>
</ul>
</blockquote>
<h2 id="version-18.11.2">Version 18.11.2</h2>
<blockquote>
<ul>
<li>1.Upload all image and add a function to change image name by Post.slug .</li>
<li>2.Got problem that: image upload to correct place(media/post/side/) but url will lead to wrong place(post/side/),trying to find how to solve the problem.</li>
</ul>
</blockquote>
<h2 id="version-18.10.28">Version 18.10.28</h2>
<blockquote>
<ul>
<li>1.Using ‘stdimage’ to get thumbnail,and link to original picture.</li>
<li>2.Fix the problem that photo won’t showout for index and Photos.</li>
<li>3.Trying multiple files but fail.Fix will come soon ,maybe next Ver.</li>
</ul>
</blockquote>
<h2 id="version-18.10.27">Version 18.10.27</h2>
<blockquote>
<ul>
<li>1.Modify CSS of index and Post, made it simpler and refresh concepts.</li>
<li>2.Add function to contain picture when posting.</li>
</ul>
</blockquote>
<h2 id="version-18.10.24">Version 18.10.24</h2>
<blockquote>
<ul>
<li>1.Re-edited index.html</li>
<li>2.Add ‘edited_time’ for Post</li>
<li>3.Modify time that if edited_time =/= publish_time show edited_time<br>
for post.html</li>
</ul>
</blockquote>
<h2 id="version-18.10.12">Version 18.10.12</h2>
<blockquote>
<ul>
<li>1.Using Flat-UI successful(_).</li>
<li>2.Rebuild template/(base post index header footer).html</li>
</ul>
</blockquote>
<h2 id="version-18.10.11">Version 18.10.11</h2>
<blockquote>
<ul>
<li>1.Using Bootstraps to modify blog and post</li>
<li>2.Trying to use <a href="http://www.bootcss.com/p/flat-ui/">Flat-Ui</a> but fail(T_T)</li>
</ul>
</blockquote>
<h2 id="version-18.10.10">Version 18.10.10</h2>
<blockquote>
<ul>
<li>1.Make a app ‘blog’,contain some post.</li>
<li>2.Let posts shown ny slug.</li>
<li>3.Use “uuslug” to make unique slug for each post,<br>
and transfer Chinese title to pinyin slug.Learn from jianshu(<a href="https://www.jianshu.com/p/2131400102a9">Link</a>)</li>
</ul>
</blockquote>
<h2 id="version-18.10.6">Version 18.10.6</h2>
<blockquote>
<ul>
<li>1.Make a app ‘restaurants’,countain some ‘restaurant’ ‘food’<br>
And ‘<a href="http://food.name">food.name</a>’ ‘food.price’ … and else.</li>
<li>2.Replace ( ~/menu ) to the app(‘restaurants’) /at restaurants/views.py<br>
And a table to output.</li>
<li>3.Add a admin to manage ‘Restaurant’ &amp; ‘Food’.</li>
</ul>
</blockquote>
</div>
</body>

</html>
