<!--index.html-->
{% extends 'base.html' %}
{% block title %}AI寫詩{% endblock title %}
{% block headmessage %}{% endblock headmessage %}
{% block context %}
    {% for post in posts %}
    <div class="panel-heading"></div>
<!--        <h5><a href='/post/{{ post.slug }}'>{{ post.title }}</a></h5>-->
    <div class="panel-body">
        <a href='/post/{{ post.slug }}'><img src="{{ post.image }}" ></a>
    </div>
    <div class="panel-footer">
        <small><small>at.{{ post.publish_time }}</small></small>
    </div>
    <hr>
    {% endfor %}
{% endblock context %}