<!--Post.html-->
{% extends 'Base.html' %}
{% block title %}{{ post.title }}--AI寫詩{% endblock title %}
{% block head %}
<!--Stop Submit-->
    <script type="text/javascript">
    function stopRKey(evt) {
    var evt = (evt) ? evt : ((event) ? event : null);
    var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
    if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
    }
    document.onkeypress = stopRKey;
    </script>
<!--Edit scripts Block-->
    <script>
      function deleteFunction(){
        if (confirm('確定要刪除嗎？')){
            window.location="delete_/{{ post.id }}/";
        } else {
          //do nothings
        }
      }
      function editFunction(){
        if (confirm('確定要編輯文章嗎？')){
          window.location="edit_/{{ post.id }}/";
        } else {
          //de nothings
        }
      }
    </script>
{% endblock head %}
<!--側邊圖片-->
{% block side %}
{% if post.image == '' %}
{% else %}
    <div class="col side">
        <img src='{{ post.image.url }}'>
    </div>
{% endif %}
{% endblock side %}
<!--文章標題-->
{% block heading %}
    <h5><a href='/post/{{ post.slug }}'>{{ post.title }}</a><br>
        <small><small><small>
            {{ post.author }}
            {% if post.edited_time != post.publish_time %}
                修改於>{{ post.edited_time }}
            {% else %}
                發布於>{{ post.publish_time }}
            {% endif %}
        </small></small></small>
    </h5>
{% endblock heading %}
<!--文章內容-->
{% block context %}
    <blockquote>{{ post.context | safe |linebreaksbr }}</blockquote>
  {% if perms.blog.change_post %}
    <button class="btn" onclick="editFunction()">修改文章</button>
  {% endif %}
  {% if perms.blog.delete_post %}
    <button class="btn" onclick="deleteFunction()">刪除文章</button>
  {% endif %}
{% endblock context %}
<!--留言區塊-->
{% block comment %}
    <!--建立留言-->
    <form method="POST">
    {% csrf_token %}
        <lable for="poster">你的名字：</lable>
            <input type="hidden" id="post" name="post" value="{{ post.id }}">
            <input id="poster" type="text" name="poster" class="form-control">
        <lable for="context"></lable>
            <textarea id="context" type="text" name="context" class="form-control"></textarea>
        <input type="submit" class="btn" value="留言">
    </form>
    <!--顯示留言-->
    {% if post.comments %}
        <hr>
        {% for c in post.comments.all %}
        <div class="comment">
            {{ c.poster | upper }}<small><small>@{{ c.post_time }}</small></small>:<br>
            >{{ c.context }}
        </div>
        {% endfor %}
    {% else %}
        <hr>
        <h6>尚未有留言</h6>
    {% endif %}
{% endblock comment %}
