{% extends 'base.html' %}
{% block title %}
{{ post.title }}--AI寫詩{% endblock title %}
{% block side %}
    <img src="/media/{{ post.image }}" >
{% endblock side %}
{% block heading %}
    <h5><a href='/post/{{ post.slug }}'>{{ post.title }}</a><br>
    <small><small><small> 
        {% if post.edited_time != post.publish_time %}
            修改 at.{{ post.edited_time }}
        {% else %}
            發布 at.{{ post.publish_time }}
        {% endif %}
    </small></small></small>
    </h5>
{% endblock heading %}
{% block context %}
    <blockquote>{{ post.context | safe |linebreaksbr }}</blockquote>
{% endblock context %}